services:
  bamboohr-timesheet:
    build: .
    image: bamboohr-timesheet
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    command: ["node", "index.js"]
    environment:
      - LOGIN_USER=${LOGIN_USER}
      - LOGIN_PASS=${LOGIN_PASS}
      - LOGIN_INSTANCE=${LOGIN_INSTANCE}
      - TOTP_SECRET=${TOTP_SECRET}
      - SCREENSHOT=${SCREENSHOT:-0}
    extra_hosts:
      - "host.docker.internal:host-gateway"