name: Build

on:
  workflow_run:
    workflows: [Lint]
    types: [completed]

jobs:
  build:
    name: Docker Build
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: bamboohr-timesheet:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
